{% extends 'base.html.twig' %}

{% block title %}Quran audio unifier{% endblock %}

{% block body %}
    <div class="container mt-5">
        {# <h3 class="display-2 mb-4"></h3> #}
        {{form_start(form)}}

        {{form_row(form.reciter)}}
        {{form_row(form.surah)}}

        <div class="row">
            <div class="col">
                {{form_row(form.verse_from)}}
            </div>
            <div class="col">
                {{form_row(form.verse_to)}}
            </div>
        </div>

        {{form_end(form)}}
    </div>
{% endblock %}
